{% extends "pages/base.html" %}
{% block title %} {{post.title}} {% endblock %}

{% block category %}
	{% for category in Category %}
		<a class="nav-link" href="/{{category.id}}">{{category.category_text}}</a>
	{% endfor %}
{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color: #EEEEEE; border-radius: 5px">

	<div style="font-size: 1.4em">
		<h3><a href=''>{{post.title}}</a></h3>
		<h6>on {{post.date}} </h6>
		{{post.body|safe|linebreaks}}
	</div>
</div>
{% endblock %}